:root{
    /* ========================================================================================== */
    /*                                                  COLORS / TEXTS / ACCENTS / ICONS / DIVERS */
    /* ========================================================================================== */

    /* COLORS */
    --color-body: #f7f1e3;
    --color-primary: #FAFAFA;

    /* TEXTS */
    --color-title-text: #262527;
    --color-description-text: #CBCBCC;

    /* ACCENTS */
    --color-accent-primary: #D3D3C9;

    /* ICONS */
    --color-icon-primary: #262527;

    /* CTA */
    --color-cta-primary: #D3D3C9;
    --color-cta-secondary: #262527;

    /* BORDER */
    --color-border-primary: #262527;

/* ========================================================================================== */
/*                                                                                      FONTS */
/* ========================================================================================== */

/* FONT FAMILY */
    --font-primary: "Fraunces", serif;
    --font-secondary: "Montserrat", sans-serif;

/* FONT SIZE */
    --font-size-medium: 1.25rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.9rem;
    --font-size-xsmall:0.7rem;

/* FONT WEIGHT */
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-light: 300;


/* ========================================================================================== */
/*                                                                              BORDER RADIUS */
/* ========================================================================================== */

    /* BORDER RADIUS */
    --border-radius: 4px;
    --border-radius-card: 16px
}


body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}

/* ========================================================================================== */
/*                                                               Section Product Preview Card */
/* ========================================================================================== */

/* --- Section --- */
.background{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: #d3d3c9;
}

/* ========================================================================================== */
/*                                                               MISE EN PLACE DU LAYOUT GRID */
/* ========================================================================================== */
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    grid-template-areas:
        "card__img card__details";

    max-width: 600px;
    height: 400px;

    border-radius: var(--border-radius-card);
    overflow: hidden;
}

.card__media{
    grid-area: card__img;
 }
.card__details{
    grid-area: card__details;
}

/* ========================================================================================== */
/*                                                                                BLOCK MEDIA */
/* ========================================================================================== */
.card__media{
    margin: 0;
}
.card__img{
    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;
    border-radius: 0;
}

/* ========================================================================================== */
/*                                                                              BLOCK DETAILS */
/* ========================================================================================== */
.card__details{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #FAFAFA;

    padding: 24px;
}

.details__label{
    font-family: var(--font-secondary);
    font-size: var(--font-size-xsmall) ;
    font-weight: var(--font-weight-light);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--color-description-text);

}
.details__title{
    font-family: var(--font-primary);
    font-size: var(--font-size-medium) ;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.08em;

    color: var(--color-title-text);
}
.details__description{
    font-family: var(--font-secondary);
    font-size: var(--font-size-regular) ;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.02em;

    color: var(--color-title-text);
}

/* ========================================================================================== */
/*                                                                                BLOCK PRICE */
/* ========================================================================================== */
.details__price{
    display: flex;
    align-items: center;
    width: 100%;

    margin-bottom: 40px;
    gap: 16px;
}
.price__now{
    font-family: var(--font-primary);
    font-size: var(--font-size-medium) ;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.02em;

    color: var(--color-title-text);
}
.price__before{
    font-family: var(--font-primary);
    font-size: var(--font-size-xsmall) ;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.02em;

    color: var(--color-title-text);
}

/* ========================================================================================== */
/*                                                                                  BLOCK CTA */
/* ========================================================================================== */
.cta__add{
    display:flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 8px;
    padding-block:  10px;

    background-color: var(--color-cta-secondary);
    border: none;
    border-radius: var(--border-radius);
    color: #D3D3C9;

    font-family: var(--font-secondary);
    font-size: var(--font-size-xsmall) ;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.04em;
}

.cta__add:hover{
    background-color: var(--color-cta-primary);
    color: var(--color-cta-secondary);

    border: 1px solid var(--color-cta-secondary);

    transition: 0.2s ease-in-out;

    font-family: var(--font-secondary);
    font-size: var(--font-size-xsmall) ;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.04em;
}

/* ========================================================================================== */
/*                                                                                 RESPONSIVE */
/* ========================================================================================== */

/* Propriété @media pour le reposnsive + mettre la taille max + ouverture de des { } afin de mettre les éléments à l'interieur */
@media (max-width: 600px){

/* Mise en place de grid responsive */
    .card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

/* Rangement des différents éléments */
    grid-template-areas:
        "card__img"
        "card__details";

    max-width: 340px;
/* toujours mettre height auto en mobile */
    height: auto;
}
.card__media{
    height: 240px ;
}
.cta__add{
    font-size: var(--font-size-small) ;
    font-weight: var(--font-weight-bold);
    padding-block: 14px;
}
}
